<br/>
<h1>HOLA</h1>
<div class="container">
  <h1>Filtro Dinamico</h1>
  <table>
    <thead>
      <th>
        <tr>
          <th>Nombre</th>
          <th>Categoria</th>
          <th>Precio</th>
          <th>Precio + imp</th>
        </tr>
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let item of this.listProductos">
        
        <td>{{item._id}}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.categoria}}</td>
        <td>{{item.precio}}</td>
        <td>{{item.v_precioImpuesto}}</td>
      </tr>
    </tbody>
  </table>
  <div style="font-size: 18;"> Cantidad =  {{this.listProductos.length}}</div>
</div>

<br/>
<button (click)="this.paginarAnterior()">anterior</button>
<button (click)="this.paginarSiguiente()">siguiente</button>
<br/>
<button (click)="this.consultarProducto('Todo')">consultarTODO</button>
<button (click)="this.consultarProducto('_id')">consultarId</button>
<button (click)="this.consultarProducto('Nombre')">consultarNombre</button>
<button (click)="this.consultarProducto('Precio')">consultarPrecio</button>
<button (click)="this.consultarProducto('Ruedas')">consultarMiscelaneo.Ruedas</button>
<button (click)="this.consultarProducto('ArrayNormal')">consultarArrayNormal</button>
<br/>
<button (click)="this.consultarProducto('SubCol')">leerSubcoleccionNormal</button>
<button (click)="this.consultarProducto('SubColGrup')">leerSubcolecciongrup</button>
<br/>
<br/>
<button (click)="this.login('email')">loginEmail</button>
<button (click)="this.login('google')">loginGoogle</button>
<button (click)="this.logout()">logout</button>
<button (click)="this.singUpEmail()">singUp</button>
<br/>
<h1>Filtro</h1>
<input type="text" name="" #CampoFiltroNombre id="" value="">
<input type="text" name="" #CampoFiltroPrecio id="" value="0">
<input type="text" name="" #CampoFiltroRuedas id="" value="0">
<br/>
<br/>
<br/>
<h2>Filtro Path_id</h2>
<!-- <p>{{this.productoPath_id.nombre}}  {{this.productoPath_id._id}}</p> -->
<br/>
<!-- <button (click)="this.Doc_Path_id$.next('Productos/000006-ba0f544bb2e38778')">getPath_id</button> -->

<br/>
<div class="container">
  <form [formGroup]="this.formCrearOActualizar" (ngSubmit)="this.crear_set()">

    <label for="nombre">Nombre:</label>
    <input name="nombre" type="text" formControlName="nombre" #nombre>
    <label for="categoria">Categoria</label>
    <input name="categoria" type="text" formControlName="categoria" #categoria >
    <label for="precio">Precio</label>
    <input name="precio" type="text" formControlName="precio" #precio >
    
    <input type="submit" value="crear">

    <input type="">

  </form>
</div>

<br/>
<br/>
<button (click)="this.crear_set('Col')">crear_set("Col")</button>
<button (click)="this.crear_set('subCol')">crear_set("subCol")</button>
<br/>
<br/>
<button (click)="this.editar()">editar()</button>
<br/>
<br/>
<button (click)="this.eliminar()">eliminar()</button>
